#presentacionText{   
   margin-top: 3rem;
   margin-bottom: 5rem;
}

#informesButton{
   background-color: purple;
   border-color: purple;
   float: right;
}
#footerText{
   margin-top: 7rem;
}

#infoBasicaText{
   margin-top: 3rem;
}