<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-7">¿Es Buenos Aires una provincia comprometida con la Mujer?</h1>
      <p id="presentacionText">A través de este trabajo final para la materia Tecnologías Aplicadas al Business
        Intelligence, se busca
        visibilizar las problemáticas del colectivo de mujeres en la Provincia de Buenos Aires, utilizando las
        herramientas aprendidas durante la cursada aplicándolas a la información obtenida de los Datos Abiertos, tanto
        de Provincia como de Nación.</p>
      <p><a class="btn btn-info btn-lg" id="informesButton" href="report" role="button"><i class="material-icons">trending_up</i> Informes</a></p>
    </div>
  </div>
  <div id="infoBasicaText" class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Centros de atención <i class="material-icons">list</i></h2>
        <p>A continuación se encuentra el listado de los centros de atención para la mujer dentro de la Provincia de
          Buenos Aires.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver centros de atención &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>Comisarías <i class="material-icons">where_to_vote</i></h2>
        <p>A continuación se encuentra el listado de las comisarías de la mujer dentro de la Provincia de Buenos Aires.
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver comisarías &raquo;</a></p>
      </div>
    </div>
  </div>
</main>

<footer id="footerText" class="container">
    <hr>
    <p>&copy; Grupo 5 - UNLP Informática</p>
  </footer>